In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("xyz.csv").iloc[:,1:]

In [3]:
len(df)

8100

In [4]:
df.head()

         d         k     r
0  1000000  10000000   9.0
1  1000000  11000000  10.0
2  1000000  12000000  11.0
3  1000000  13000000  12.0
4  1000000  14000000  13.0

In [5]:
less = df[df['r']<0]
len(less)

0

In [6]:
decimal = df[df['r']>=0]
decimal = decimal[decimal['r']<1.0]
len(decimal)

265

In [7]:
one = df[df['r']>=1.0]
one = one[one['r']<2.0]
len(one)

422

In [8]:
one.head()

            d         k         r
2160  3400000  10000000  1.941176
2250  3500000  10000000  1.857143
2340  3600000  10000000  1.777778
2430  3700000  10000000  1.702703
2431  3700000  11000000  1.972973

In [9]:
one.sort_values("d",ascending=False).head()

            d         k         r
8029  9900000  29000000  1.929293
8028  9900000  28000000  1.828283
8027  9900000  27000000  1.727273
8026  9900000  26000000  1.626263
8025  9900000  25000000  1.525253

In [14]:
one_d = one['d'].unique().tolist()
print(one_d)

[3400000, 3500000, 3600000, 3700000, 3800000, 3900000, 4000000, 4100000, 4200000, 4300000, 4400000, 4500000, 4600000, 4700000, 4800000, 4900000, 5000000, 5100000, 5200000, 5300000, 5400000, 5500000, 5600000, 5700000, 5800000, 5900000, 6000000, 6100000, 6200000, 6300000, 6400000, 6500000, 6600000, 6700000, 6800000, 6900000, 7000000, 7100000, 7200000, 7300000, 7400000, 7500000, 7600000, 7700000, 7800000, 7900000, 8000000, 8100000, 8200000, 8300000, 8400000, 8500000, 8600000, 8700000, 8800000, 8900000, 9000000, 9100000, 9200000, 9300000, 9400000, 9500000, 9600000, 9700000, 9800000, 9900000]

In [18]:
decimal_d = decimal['d'].unique().tolist()
for i in range(len(decimal_d)):
    if i != len(decimal_d)-1:
        if decimal_d[i+1]-decimal_d[i] != 100000:
            print(np.NAN)
print(len(decimal_d))

49

In [19]:
two = df[df['r']>=2.0]
two = two[two['r']<3.0]
len(two)

453